<%- include('../partials/header.ejs') %>
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <div class="list-group">
            <a href="/mytasks" class="list-group-item list-group-item-action active" aria-current="true">
              Groups
            </a>
            <% groups.forEach(group => { %>
              <a href="/mytasks/<%= group.id %> " class="list-group-item list-group-item-action"><%= group.teamname %></a>
           <% }) %> 
          </div>
        </div>
      </nav>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div style="width: 80%; margin: 15px auto;">
          <img src="img/taskheader.jpg" class="img-fluid" alt="task manager Header"
            style="width: 1000px; height: 500px;">
          <form action="/mytasks" method="POST">
            <div class="create-group">
              <input class="form-control" type="text" id="formFile" placeholder="Name Group" name="teamName">
              <button type="submit" class="btn btn-primary">create-group</button>
              <% if(error !== undefined) {%> 
              <p class="alert alert-danger">mistake: <%= error %></p>
              <% } %> 
            </div>
            
          </form>
        </div>
      </main>
    </div>
  </div>

  <%- include('../partials/footer.ejs') %>